* {margin:0; padding:0; border:0;}

header{
     
}
nav{
     padding: 0px 40px;
}
.volver{
    width: 40px;
    padding-top: 20px;
}

.menu a{
    text-decoration: none;
    color: #00cece;
}
.menu a:hover{
    font-size: 20px;
    color: blue;
}
