img {
    width: 100px;
}
#img1:hover{
    animation: myAnimation 2s ease 1s 3 alternate forwards;
}
#img2:hover{
    animation: myAnimation2 2s ease 1s 3 alternate forwards;
}
#img3:hover{
    animation: myAnimation3 2s ease 1s 3 alternate forwards;
}

@keyframes myAnimation {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes myAnimation2 {
    100% {
        transform: translate(500px);
    }
}
@keyframes myAnimation3 {
    100% {
        transform: translate(500px) rotate(360deg);
    }
}